<!DOCTYPE html>
<!-- @author Adam -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main_style.css"/>
    <title>Create Task</title>
</head>
<th:block th:include="/includes/header :: header"></th:block>
<body>
This will become where you create a task... :)
<div id="container">
    <div id="inputform">
        <form th:action="@{/createTaskPost?id={id}(id=${project.project_id})}" method="POST">
            <p>Task Name
            <p><input type="text" name="taskName" required>
            <p>Description
            <p><input type="text" name="taskDesc" required>
            <p>Task Leader
            <p><input type="email" name="taskLeaderEmail" placeholder="E-mail"  required>
            <p>Kick-off
            <p><input type="date" name="kickoff"  required>
            <p>Deadline
            <p><input type="date" name="deadline" required>
            <p>Working Hours
            <p><input type="number" name="workingHours" required>
            <input type="hidden" name="projectId" th:value="${project.project_id}">
            <div class="button">
                <input type="Submit" value="  Create!  ">
            </div>
            <br>
            <br>
        </form>
    </div>
</div>
</body>
<th:block th:include="/includes/footer :: footer"></th:block>
</html>