<!DOCTYPE html>
<!-- @author Adam -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main_style.css"/>
    <title>Create Task</title>
</head>
<th:block th:include="/includes/header :: header"></th:block>
<body>
This will become where you create a task... :)
<div id="container">
    <div id="loginform">
        <form action="/createTask" method="POST">
            <p>Task Name
            <p><input type="text" name="taskName" style="font-size:20px" required>
            <p>Discription
            <p><input type="text" name="taskDisp" style="font-size:20px" required>
            <p>Task Leader
            <p><input type="email" name="taskLeaderEmail" placeholder="E-mail" style="font-size:20px" required>
            <p>Kick-off
            <p><input type="date" name="kickOff" style="font-size:20px" required>
            <p>Deadline
            <p><input type="date" name="deadline" style="font-size: 20px" required>
            <p>Working Hours
            <p><input type="number" name="workingHours" style="font-size: 20px" required>
            <div class="button">
                <input type="Submit" value="  Create!  ">
            </div>
            <br>
            <br>
        </form>
    </div>
</div>
</body>
<th:block th:include="/includes/footer :: footer"></th:block>
</html>
