<!DOCTYPE html>
<!-- @author Adam -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main_style.css"/>
    <title>Create Project</title>
</head>
<th:block th:include="/includes/header :: header"></th:block>
<body>
<div id="container">
    <div id="bioleft" style="float: left">
        <a class="backbutton" href="/listProject">&#11013;</a>
    </div>
    <div id="inputform">
        <form action="/createProject" method="POST">
            <p>Project Name
            <p><input type="text" name="pName" required>
            <p>Customer
            <p><input type="text" name="comName" placeholder="Company name" required>
            <p>Customer Contact
            <p><input type="text" name="conName" placeholder="Name" required>
            <p><input type="email" name="cEmail" placeholder="E-mail" required>
            <p><input type="tel" name="tel" placeholder="Phone number" required>
            <p>Project manager
            <p><input type="text" name="PMName" placeholder="E-mail" required>
            <p>Kick-off
            <p><input type="date" name="kickOff" required>
            <p>Deadline
            <p><input type="date" name="deadline" required>
            <div class="button">
                <input type="Submit" value="  Create!  ">
            </div>
            <br>
            <br>
        </form>
    </div>
</div>
</body>
<th:block th:include="/includes/footer :: footer"></th:block>
</html>