<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main_style.css"/>
    <title th:text="${project.project_name}"></title>
</head>
<th:block th:include="/includes/header :: header"></th:block>
<body>
<div id="container">
    <div id="bio-left" style="float: left">
        <a class="back-button" th:href="@{/viewProject?id={id}(id=${project.project_id})}">&#11013;</a>
    </div>
    <div id="input-form">
        <form action="/updateProject" method="POST">
            Project name
            <p><input type="text" name="pName" th:value="${project.project_name}" required>
            <p>Kick-off
            <p><input type="date" name="kickOff" th:value="${project.kickoff}" required>
            <p>Deadline
            <p><input type="date" name="deadline" th:value="${project.deadline}" required>
            <input type="hidden" name="id" th:value="${project.project_id}" required>
            <p>Customer
            <p><select class="form-control" name="cId" required>
                <option th:value="${currentcustomer.customer_id}" th:text="${currentcustomer.name}"></option>
                <option th:each="customer : ${customers}"
                        th:value="${customer.customer_id}"
                        th:text="${customer.name}"></option>
            </select>
            <p>Project Manager
            <p><select class="form-control" name="plId" required>
                <option th:value="${projectmanager.user_id}" th:text="${projectmanager.first_name}+' '+${projectmanager.last_name}+' '+${projectmanager.e_mail}"></option>
                <option th:each="user : ${users}"
                        th:value="${user.user_id}"
                        th:text="${user.first_name}+' '+ ${user.last_name}+' '+${user.e_mail}"></option>
            </select>
            <div class="button">
                <input type="Submit" value="  Update!  ">
            </div>
        </form>
        <a th:href="@{/deleteProject?id={id}(id=${project.project_id})}">
                Delete Project
        </a>
    </div>
</div>
</body>
<th:block th:include="/includes/footer :: footer"></th:block>
</html>