<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main_style.css"/>
    <title>Edit Task</title>
</head>
<th:block th:include="/includes/header :: header"></th:block>
<body>
<div id="container">
    <div id="bio-left" style="float: left">
        <a class="back-button" th:href="@{/viewProject?id={id}(id=${project.project_id})}">&#11013;</a>
    </div>
    <div id="input-form" style="clear: both">
        <form action="/updateTask" object="" method="POST">
            Task name
            <p><input type="text" name="tName" th:value="${task.task_name}" required>
            <p>Description
            <p><input type="text" name="tDesc" th:value="${task.task_description}" required>
            <p>Task Manager
            <p><select class="form-control" name="taskLeader" required>
                <option th:value="${task.task_leader_id}" th:text="${task.task_leader_name}+' '+${task.task_leader_email}"></option>
                <option th:each="participant : ${participants}"
                        th:value="${participant.user_id}"
                        th:text="${participant.first_name}+' '+ ${participant.last_name}+' '+${participant.e_mail}"></option>
            </select>
            <p>Kick-off
            <p><input type="date" name="kickoff" th:value="${task.kickoff}" required>
            <p>Deadline
            <p><input type="date" name="deadline" th:value="${task.deadline}" required>
                <input type="hidden" name="tId" th:value="${task.task_id}" required>
                <input type="hidden" name="pId" th:value="${task.project_id}" required>
            <div class="button">
                <input type="Submit" value="  Update!  ">
            </div>
        </form>
        <p></p>
        <a th:if="${session.user.getIs_admin() == 1}" th:href="@{/deleteTask?id={id}(id=${task.task_id})}">Delete Task</a>
    </div>
</div>
</body>
<th:block th:include="/includes/footer :: footer"></th:block>
</html>