<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main_style.css"/>
    <title>Task (name)</title>
</head>
<th:block th:include="/includes/header :: header"></th:block>
<body>
<div id="container">
    <div id="inputform">
        <form action="/updateTask" object="" method="POST">
            Task name
            <p><input type="text" name="tName" th:value="${task.task_name}" required>
            <p>Description
            <p><input type="text" name="tDesc" th:value="${task.task_description}" required>
            <p>Task Leader
            <p><input type="text" name="taskLeaderEmail" th:value="${task.task_leader_email}" required>
            <p>Kick-off
            <p><input type="date" name="kickoff" th:value="${task.kickoff}" required>
            <p>Deadline
            <p><input type="date" name="deadline" th:value="${task.deadline}" required>
            <p>Working hours
            <p><input type="text" name="wh" th:value="${task.working_hours}" required>
                <input type="hidden" name="tId" th:value="${task.task_id}" required>
                <input type="hidden" name="pId" th:value="${task.project_id}" required>
            <div class="button">
                <input type="Submit" value="  Update!  ">
            </div>
        </form>
    </div>
</div>
</body>
<th:block th:include="/includes/footer :: footer"></th:block>
</html>