<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main_style.css"/>
    <title>Projects</title>
<body>
<th:block th:include="/includes/header :: header"></th:block>

<div id="container">
    <div id="headline">
        <h1>Active Projects</h1>
    </div>
    <table class="project-table">
        <thead>
        <tr>
            <th>Project name</th>
            <th>Start</th>
            <th>End</th>
            <th>Status</th>
            <th></th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="project : ${projectList}">
            <!-- Table value Examples. Replace with thymeleaf values. -->
            <td th:text="${project.project_name}"></td>
            <td th:text="${project.kickoff}" ></td>
            <td th:text="${project.deadline}"></td>
            <td> &#10060; </td> <!-- 9989 -->
            <td><a th:href="@{/viewProject?id={id}(id=${project.project_id})}">View Project</a></td>
        </tr>
        </tbody>
    </table>
    <a href="/createProject"> New Project </a>
</div>
</body>
<th:block th:include="/includes/footer :: footer"></th:block>
</html>