<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main_style.css"/>
    <title>Projects</title>
<body>
<th:block th:include="/includes/header :: header"></th:block>
<div id="container">
    <div id="headline">
        <h1 style="color: #35455D">Projects</h1>
    </div>
    <table class="project-table">
        <thead>
        <tr>
            <th>Project name</th>
            <th>Start</th>
            <th>End</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project : ${projectList}">
            <td th:text="${project.project_name}"></td>
            <td th:text="${project.kickoff}"></td>
            <td th:text="${project.deadline}"></td>
            <td> &#10060;</td> <!-- 9989 -->
            <td><a th:href="@{/viewProject?id={id}(id=${project.project_id})}">View Project</a></td>
        </tr>
        <tr th:if="${session.user.getIs_admin() == 1}" style="background-color: #9EBDD5; text-align: center">
            <td colspan="6">
                <form action="/createProject" method="get">
                    <input value="&#10133;" type="submit" style="width: 45px; height: 45px">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<th:block th:include="/includes/footer :: footer"></th:block>
</html>