<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main_style.css"/>
    <title>Project (name)</title>
</head>
<th:block th:include="/includes/header :: header"></th:block>
<body>

<div id="container" style="text-align: left">
    <div id="bio" style="float: left">
        <h1 style="font-size: 50px" th:text="${project.project_name}"></h1>
        <hr class="rounded">
            Customer: <span th:text="${project.customer_id}"></span>
        <p>
            Project Leader: <span th:text="${project.project_leader_id}"></span>
        <p>
            Kick Off: <span th:text="${project.kickoff}"></span>
        <p>
            Deadline: <span th:text="${project.deadline}"></span>
    </div>
    <div id="profilepic" style="float: right">
        <a th:href="@{/editProject?id={id}(id=${project.project_id})}">Edit Project</a>
    </div>
    <table class="project-table">
        <thead>
        <tr>
            <th>Tasks</th>
            <th>Description</th>
            <th>Working hours</th>
            <th>Start</th>
            <th>End</th>
            <th>Task Manager</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}">
            <!-- Table value Examples. Replace with thymeleaf values. -->
            <td th:text="${task.task_name}"></td>
            <td th:text="${task.task_description}"></td>
            <td th:text="${task.working_hours}"></td>
            <td th:text="${task.kickoff}"></td>
            <td th:text="${task.deadline}"></td>
            <td th:text="${task.task_leader_email}"></td>
        </tr>
        <tr>
            <td colspan="6">
                <form action="/createTask" method="post">
                    <input type="hidden" name="project_id" th:value="${tasks.get(0).getProject_id()}">
                    <input value="&#10133;" type="submit" style="width: 45px; height: 45px">
                </form>
            </td>
        </tr>

        </tbody>
    </table>
</div>
</body>
<th:block th:include="/includes/footer :: footer"></th:block>
</html>