<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main_style.css"/>
    <title th:text="${project.project_name}"></title>
</head>
<th:block th:include="/includes/header :: header"></th:block>
<body>
<div id="container" style="text-align: left">
    <div id="bio-left" style="float: left">
        <a class="back-button" href="/listProject">&#11013;</a>
        <h1 style="font-size: 50px" th:text="${project.project_name}"></h1>
        <hr class="rounded">
        <h3>Customer: </h3><span th:text="${customer.name}"></span>
        <br th:text="${customer.contact_name}">
        <span th:text="${customer.contact_email}"></span>
        <br th:text="${customer.contact_phone}">
        <p>
        <h3>Project Leader: </h3><span th:text="${projectmanager.first_name}+ ' '+${projectmanager.last_name}"></span>
        <br th:text="${projectmanager.e_mail}">
        <p>
            Kick Off: <span th:text="${project.kickoff}"></span>
        <br>
            Deadline: <span th:text="${project.deadline}"></span>
    </div>
    <div id="bio-right" style="text-align: right">
        <a th:if="${session.user.getIs_admin() == 1}" th:href="@{/editProject?id={id}(id=${project.project_id})}">Edit
            Project</a>
    </div>
    <table class="list-table">
        <thead>
        <tr>
            <th>Tasks</th>
            <th>Description</th>
            <th>Working hours</th>
            <th>Start</th>
            <th>End</th>
            <th>Task Manager</th>
            <th th:if="${session.user.getIs_admin() == 1}" style="background-color: #9EBDD5; text-align: center"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.task_name}"></td>
            <td th:text="${task.task_description}"></td>
            <td th:text="${task.working_hours}"></td>
            <td th:text="${task.kickoff}"></td>
            <td th:text="${task.deadline}"></td>
            <td th:text="${task.task_leader_email}"></td>
            <td th:if="${session.user.getIs_admin() == 1}"><a th:href="@{/editTask?id={id}(id=${task.task_id})}">&#128736;</a>
            </td>
        </tr>
        <tr th:if="${session.user.getIs_admin() == 1}" style="background-color: #9EBDD5; text-align: center">
            <td colspan="7">
                <form th:action="@{/createTask?id={id}(id=${project.project_id})}" method="post">
                    <input value="&#10133;" type="submit" style="width: 45px; height: 45px">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<th:block th:include="/includes/footer :: footer"></th:block>
</html>