<!DOCTYPE html>
<!-- @author Adam -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main_style.css"/>
    <title>Create Project</title>
</head>
<th:block th:include="/includes/header :: header"></th:block>
<body>
This will become where you create a project... :)
<div id="container">
    <div id="loginform">
        <form action="/projectCreate" method="POST">
            <p>Project Name
            <p><input type="text" name="pName" style="font-size:20px" required>
            <p>Costumer
            <p><input type="text" name="comName" placeholder="Company name" style="font-size:20px" required>
            <p>Costumer Contact
            <p><input type="text" name="conName" placeholder="Name" style="font-size:20px" required>
            <p><input type="email" name="cEmail" placeholder="E-mail" style="font-size:20px" required>
            <p><input type="tel" name="tel" placeholder="Phone number" style="font-size:20px" required>
            <p>Project manager
            <p><input type="text" name="PMName" placeholder="E-mail" style="font-size:20px" required>
            <p>Kick-off
            <p><input type="date" name="kickOff" style="font-size:20px" required>
            <p>Deadline
            <p><input type="date" name="deadline" style="font-size: 20px" required>
            <div class="button">
                <input type="Submit" value="  Create!  ">
            </div>
            <br>
            <br>
        </form>
    </div>
</div>
</body>
<th:block th:include="/includes/footer :: footer"></th:block>
</html>