<!DOCTYPE html>
<!-- @author Adam -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main_style.css"/>
    <title>Create User</title>
</head>
<th:block th:include="/includes/headerNotLoggedIn :: header"></th:block>
<body>
<div id="container">
    <div id="bioleft" style="float: left">
        <a style="text-decoration: none" href="/">&#128281;</a>
    </div>
<div id="inputform">
    <form action="/createUser" object="" method="POST">
        <p>Email
        <p><input type="email" name="mail" required>
        <p>Password
        <p><input type="password" name="password" required>
        <p>Fornavn
        <p><input type="text" name="firstName" required>
        <p>Efternavn
        <p><input type="text" name="lastName" required>
        <p>Job
        <p><input type="text" name="job" required>
        <div class="button">
            <input type="Submit" value="  Create!  ">
        </div>
        <p>
            <a href="/"> Login her </a>
    </form>
</div>
</div>
</body>
<th:block th:include="/includes/footer :: footer"></th:block>
</html>