<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main_style.css"/>
    <title>Edit User</title>
</head>
<th:block th:include="/includes/header :: header"></th:block>
<body>
<div id="container" style="text-align: left">
    <div id="bio-left" style="clear:both;">
        <a class="back-button" href="/currentUser">&#11013;</a>
    </div>
    <div style="text-align: left; float: left" id="input-form">
        <form action="/updateUser" method="POST">
            <p>First Name
            <p><input type="text" class="form-control" name="fName" th:value="${session.user.first_name}" required>
            <p>Last Name
            <p><input type="text" class="form-control" name="lName" th:value="${session.user.last_name}" required>
            <p>Email
            <p><input type="email" class="form-control" name="email" th:value="${session.user.e_mail}" required>
            <p>Input only if you wish to change password:
            <p>Old Password
            <p><input type="password" class="form-control" name="oPwd">
            <p>New Password
            <p><input type="password" class="form-control" name="pwd1">
            <p>Repeat New Password
            <p><input type="password" class="form-control" name="pwd2">
                <input type="hidden" name="uId" th:value="${session.user.user_id}">
            <div class="button">
                <input type="Submit" class="submit-button" value="  Update!  ">
            </div>
        </form>
    </div>
    <div style="float: right">
        <br>
        <img class="pb" th:src="*{'data:image/jpeg;base64,' + session.user.byteArrayAs64String()}">
        <p>
        <form method="POST" action="/uploadImg" enctype="multipart/form-data">
            <th:label path="file">New Profile Picture</th:label>
            <br><input type="file" name="file"/>
            <br><input type="submit" value="Submit"/>
        </form>
    </div>
    <div style="clear: both"></div>
</div>
</body>
<th:block th:include="/includes/footer :: footer"></th:block>
</html>