<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main_style.css"/>
    <title>Users</title>
</head>
<th:block th:include="/includes/header :: header"></th:block>
<body>
<div id="container">
    <div id="headline">
        <h1 style="color: #35455D">Employees</h1>
    </div>
    <table class="project-table">
        <thead>
        <tr>
            <th></th>
            <th>E-mail</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${userList}">
            <td> <img class="pblist" th:src="*{'data:image/jpeg;base64,' + user.byteArrayAs64String()}"></td>
            <td th:text="${user.e_mail}"></td>
            <td th:text="${user.first_name}"></td>
            <td th:text="${user.last_name}"></td>
            <td><a th:href="@{/viewUser?id={id}(id=${user.user_id})}">View User</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<th:block th:include="/includes/footer :: footer"></th:block>
</html>