<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main_style.css"/>
    <title>ERROR</title>
</head>
<body>

<div id="loginfields">
    LOG IN!
    <form action="/" method="POST">
        <p> Email
        <p><input type="text" name="mail" style="font-size:20px" required>
        <p> Password
        <p><input type="password" name="password" style="font-size:20px" required>
        <p>
        <div class="button">
            <input type="Submit" value="  Log in!  ">
        </div>
    </form>
    <a href="/"> Opret her </a>
</div>


</body>
</html>