<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main_style.css"/>
    <title>Create Customer</title>
</head>
<th:block th:include="/includes/header :: header"></th:block>
<body>
<div id="inputform">
    <form action="/createCustomer" object="" method="POST">
        <p>Customer Name
        <p><input type="text" name="comName" placeholder="Company name" required>
        <p>Customer Contact
        <p><input type="text" name="conName" placeholder="Name" required>
        <p><input type="email" name="cEmail" placeholder="E-mail" required>
        <p><input type="tel" name="tel" placeholder="Phone number" required>
        <div class="button">
            <input type="Submit" value="  Create!  ">
        </div>
        <p>
    </form>
</div>
</body>
<th:block th:include="/includes/footer :: footer"></th:block>
</html>