<!DOCTYPE html>
<!-- @author Adam and Rasmus-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main_style.css"/>
    <title th:text="${customer.name}"></title>
</head>
<th:block th:include="/includes/header :: header"></th:block>
<body>
<div id="container">
    <div id="bio-left" style="float: left">
        <a class="back-button" th:href="@{/viewCustomer?id={id}(id=${customer.customer_id})}">&#11013;</a>
    </div>
    <div id="input-form" style="text-align: left; float: left">
        <form action="/updateCustomer" method="POST">
            <input type="hidden" name="cId" th:value="${customer.customer_id}">
            <p>Customer Name
            <p><input type="text" class="form-control" name="comName" th:value="${customer.name}" required>
            <p>Customer Contact
            <p><input type="text" class="form-control" name="conName" th:value="${customer.contact_name}" required>
            <p><input type="email" class="form-control" name="conEmail" th:value="${customer.contact_email}" required>
            <p><input type="tel" class="form-control" name="tel" th:value="${customer.contact_phone}" required>
            <div class="button">
                <input type="Submit" class="submit-button" value="  Update!  ">
            </div>
            <a th:if="${session.user.getIs_admin() == 1}"
               th:href="@{/deleteCustomer?id={id}(id=${customer.customer_id})}">
                Delete Customer
            </a>
        </form>
    </div>
    <div style="float: right">
        <br>
        <img class="pb" th:src="*{'data:image/jpeg;base64,' + customer.byteArrayAs64String()}">
        <p>
        <form method="POST" action="/uploadCustomerImg" enctype="multipart/form-data">
            <th:label path="file">New Customer Picture</th:label>
            <input type="hidden" name="customer_id" th:value="${customer.customer_id}">
            <br><input type="file" name="file"/>
            <br><input type="submit" value="Submit"/>
        </form>
    </div>
    <div style="clear: both"></div>
</div>
</body>
<th:block th:include="/includes/footer :: footer"></th:block>
</html>