<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main_style.css"/>
    <title>Customers</title>
</head>
<th:block th:include="/includes/header :: header"></th:block>
<body>
<div id="container">
    <div id="headline">
        <h1 style="color: #35455D">Customers</h1>
    </div>
    <table class="project-table">
        <thead>
        <tr>
            <th>Company name</th>
            <th>Contact name</th>
            <th>Contact E-mail</th>
            <th>Projects</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer : ${customerList}">
            <!-- Table value Examples. Replace with thymeleaf values. -->
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.contact_name}"></td>
            <td th:text="${customer.contact_email}"></td>
            <td> <a th:href="@{/viewCustomer?id={id}(id=${customer.customer_id})}">View Customer</a></td>
        </tr>
        <tr style="background-color: #9EBDD5">
            <td colspan="6">
                <form action="/createCustomer" method="get">
                    <input value="&#10133;" type="submit" style="width: 45px; height: 45px">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
<th:block th:include="/includes/footer :: footer"></th:block>
</html>