<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main_style.css"/>
    <title>Edit Employee</title>
</head>
<th:block th:include="/includes/header :: header"></th:block>
<body>
<div id="container">
    <div id="bio" style="float: left">
        <h1 style="font-size: 50px"> <!--th:text="${profileName}"> --> Dudeson Dude</h1>
        <hr class="rounded">
        Email: <span>email@email.com</span>
        <p>
            Active projects: <span>Project no.1, project, no.2.</span>
        <p>
            Admin: <span> <input type="checkbox" id="admin" name="admin" value="admin"></span>
        <p>
            Job: <label for="jobs">Choose job:</label>

            <select name="jobs" id="jobs">
                <option value="volvo">Job1</option>
                <option value="saab">Job2</option>
                <option value="mercedes">Job3</option>
                <option value="audi">Job4</option>
            </select>
    </div>
    <div id="profilepic" style="float: right">
        <img class="profilepic" src="/static/images/defaultprofilepic.png"> <!-- th:src="*{'data:image/jpeg;base64,' + profilePic}"> -->
    </div>
</div>
</body>
<th:block th:include="/includes/footer :: footer"></th:block>
</html>