<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main_style.css"/>
    <title>Forgot password</title>
</head>
<th:block th:include="/includes/headerNotLoggedIn :: header"></th:block>
<body>
<div id="container">
    <div id="bio-left" style="float: left">
        <a class="back-button" href="/">&#11013;</a>
    </div>
    <p>If you forgot your password, you'll have to contact your system administrator.</p>
    <p>You can contact your administrator <a href="mailto:adam5530@stud.kea.dk">here</a></p>
</div>
</body>
<th:block th:include="/includes/footer :: footer"></th:block>
</html>