<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main_style.css"/>
    <title>ERROR</title>
</head>
<th:block th:include="/includes/header :: header"></th:block>
<body>
<div id="loginfields">
    LOG IN!
    <form action="/projectList" method="POST">
        <p> Email
        <p><input type="email" name="mail" style="font-size:20px" required>
        <p> Password
        <p><input type="password" name="password" style="font-size:20px" required>
        <p>
        <div class="button">
            <input type="Submit" value="  Log in!  ">
        </div>
    </form>
    <a href="/Register"> Opret her </a>
</div>
</body>
<th:block th:include="/includes/footer :: footer"></th:block>
</html>