<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main_style.css"/>
    <title>Login</title>
</head>
<th:block th:include="/includes/headerNotLoggedIn :: header"></th:block>
<body>
<div id="container">
    <div id="input-form">
        <form action="/login" method="POST">
            <h2>Welcome to the Project Management Tool</h2>
            <br>
            <p> Email
            <p><input type="email" name="mail">
            <p> Password
            <p><input type="password" name="password">
            <p>
            <div class="button">
                <input type="Submit" value="  Log in!  ">
            </div>
        </form>
        <p>
            <a href="/createUser"><input type="Submit" value="  Create new user  "></a>
            <br>
            <br>
            <a href="/forgot"><input type="Submit" value="  I forgot my password...  "></a>
    </div>
</div>
</body>
<th:block th:include="/includes/footer :: footer"></th:block>
</html>