<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main_style.css"/>
    <title>Login</title>
</head>
<th:block th:include="/includes/headerNotLoggedIn :: header"></th:block>
<body>
<div id="container">
    <div id="inputform" >
        <form action="/listProject" method="POST">
            <p> Email
            <p><input type="email" name="mail">
            <p> Password
            <p><input type="password" name="password">
            <p>
            <div class="button">
                <input type="Submit" value="  Log in!  ">
            </div>
        </form>
        <p>
        <a href="/createUser"> Opret her </a>
    </div>
</div>
</body>
<th:block th:include="/includes/footer :: footer"></th:block>
</html>