<!DOCTYPE html>
<!-- @author Adam -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main_style.css"/>
    <title>Register</title>
</head>
<th:block th:include="/includes/header :: header"></th:block>
<body>

<div id="signupfields">
    <form action="/register" object="" method="POST">
        <p>Email
        <p><input type="email" name="mail" style="font-size:20px" required>
        <p>Password
            <input type="password" name="password" style="font-size:20px" required>
        <p>Fornavn
        <p><input type="text" name="firstName" style="font-size:20px" required>
        <p>Efternavn
            <input type="text" name="lastName" style="font-size:20px" required>
        <p>Job
        <p><input type="text" name="job" style="font-size: 20px" required>
        <div class="button">
            <input type="Submit" value="  Create!  ">
        </div>
    </form>
</div>

</body>
<th:block th:include="/includes/footer :: footer"></th:block>
</html>